@charset "UTF-8";

a {
    text-decoration:none;
}

.card {
	overflow: hidden;
}

.tata {
	cursor: pointer;
}
.tata-a {
	text-decoration: none; color: black;
}

.tata:hover {
	color: red;
}

#edit {
	transform: scale(1, 1);
}

#edit:hover {
	transform: scale(1.1, 1.1);
}

b {
	font-size: 55px;
	margin-left:27px;
}
.card-text { 
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
}

.box {
width: 500px;
padding: 10px;
}
.ellipsis {
overflow:hidden;
white-space: nowrap;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;
white-space: normal;
}
.card-body{
	padding: 0px;
}
.photoSticker{
	width: 50px; height: 50px; border-radius: 50%;
}
.contentUserName{
	margin-left: 15px; font-size: 20px;
}
.editImgg{
	cursor: pointer; float: right; width: 30px; height: 30px;
}
.updateDataClass{
	cursor: pointer;
}
.cardmx-auto{
	width: 55rem; padding: 15px; margin: 0px;
}
.announcement-a{
	text-decoration: none; color: black;
}
.content-content{
	width: 60%; padding: 20px; margin-left: 50px;
}
.btn-newcontent{
	float: right;margin-right:150px;margin-top:30px;
}
.select-newhot{
	width: 150px; display: inline;
}
.goodicon{
	width: 20px; margin-left: 20px;
}
#insSelectTag{
	width: 200px;
}
#updSelectTag{
	width: 200px;
}
.display-none{
	display:none;
}
.modal-title{
	margin-left: 150px;
}
.title-fontsize{
	font-size: 30px;
}
.date20px{
	font-size: 20px;
}
.ml150w260{
	margin-left: 150px; width: 260px;
}
.mtop30{
	margin-top: 30px;
}
.editml700w50h50{
	cursor: pointer; margin-left: 700px; width: 50px; height: 50px;
}
.w60h60br50fl{
	width: 60px; height: 60px; border-radius: 50%; float: left;
}
.w20{
	width: 20px;
}
.w60h60br50flmr30{
	width: 60px; height: 60px; border-radius: 50%; float: left; margin-right: 30px;
}
.ml450mt100{
	margin-left: 450px; margin-top: 100px;
}
.detailed{
	padding: 40px;
}
.w40{
	width: 40px;
}
.w60p20ml460mt20{
	width: 60%; padding: 20px; margin-left: 460px; margin-top: 20px;
}
.fr{
	float: right;
}
.ml80{
	margin-left: 80px;
}