@charset "UTF-8";

a {
    text-decoration:none;
}

.tata {
	cursor: pointer;
}

.ml700w50h50tf11{
	cursor: pointer; margin-left: 800px; width: 30px; height: 30px;transform: scale(1, 1);
}
.ml700w50h50tf11:hover {
	transform: scale(1.1, 1.1);
}

.box {
width: 500px;
padding: 10px;
}
.ellipsis {
overflow:hidden;
white-space: nowrap;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;
white-space: normal;
}

.updateDataClass{
	cursor: pointer;
}
<<<<<<< HEAD
.cardmx-auto{
	width: 55rem; padding: 15px; margin: 0px;
}
.announcement-a{
	text-decoration: none; color: black;
}
.content-content{
	width: 60%; padding: 20px; margin-left: 50px;
}
.btn-newcontent{
	float: right;margin-right:150px;margin-top:30px;
}
.select-newhot{
	width: 150px; display: inline;
}
.goodicon{
	width: 20px; margin-left: 20px;
=======
#insSelectTag{
	width: 200px;
}
#updSelectTag{
	width: 200px;
>>>>>>> refs/heads/Dev_32
}
.display-none{
	display:none;
}
.modal-title{
	margin-left: 300px;
}
.title-fontsize{
	font-size: 30px;
}